body {
    background-color: #f2f2f2;
    text-align: justify;
    font-family: Comfortaa, Open Sans, sans-serif;
}

.navbar-nav a{
    margin-left: 30px;
    margin-right: 10px;
    font-size: 12px;
    font-weight: bold !important;
    color: black ;
    border-right: 3px solid #fff;
    padding-right: 30px !important;
}

/*My CSS*/
.containerinner{
    background-color: #CEC5A6;
    text-align: center;
    border:3px solid #888;
}
.navbar{
    background-color: #CEC5A6;
}

.active{
    color: black !important;
}
 /*My CSS*/

a:hover {
    color:  #604020 !important;
}

a:visited , a{
    color: black;

}
