body {
    background-color: #f2f2f2;
    font-family: Comfortaa, Open Sans, sans-serif;
    font-size: 13px;
}



.nab a{

    font-size: 11px;
    color: white !important;
    border-right: 2px solid #fff;
    padding-right: 20px;
}

.itea{
    padding: 0;
}
/*My CSS*/

h1,h3,h2,h4{
    color: red;
}
.containerinner{
    background-color: black;
    text-align: center;
    border:3px solid black;
} 


.active{
    color: black !important;
}
 /*My CSS*/

a:hover {
    color:  wheat !important;
}

a:visited , a{
    color: black;

}

.w-copyright a{
    color: white;
}

.w-copyright a:hover{
    color: white;
}
.w-copyright p{
    color: white;
}





